@import '../../vars';

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;

    .about__me {
        width: 100%;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border: 2px solid $primary-c;
            box-shadow: $shadow;
            z-index: -1;
        }
        .about__me-image {
            height: 100%;
            overflow: hidden;
            transform: rotate(-10deg);
            transition: $transition;

            img {
                position: relative;
                bottom: 100px;
            }

            &:hover {
                transform: rotate(0deg);
            }
        }
    }

    .about__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;

        .about__card {
            border: 1px solid $primary-cV;
            box-shadow: $shadow;
            padding: 2rem;
            text-align: center;
            position: relative;
            transition: $transition;
            overflow: hidden;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                height: 100%;
                width: 100%;
                opacity: 0;
                background: $primary-bg;
                transition: $transition;
            }
            &:hover {
                cursor: default;

                &::before {
                    opacity: 1;
                }
            }
            .about__card-icon {
                display: inline-flex;
                place-items: center;
                color: $secundary-c;
                font-size: 1.4rem;
                margin-bottom: 1rem;
                background: $bg-c;
                padding: .6rem;
                box-sizing: content-box;
                border-radius: 50%;
            }
            h5 {
                font-size: .95rem;
            }
            small {
                font-size: .7rem;
                color: $light-c;
            }
        }
    }

    p {
        margin: 2rem 0 2.6rem;
        color: $light-c;
    }
}

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;

        .about__me {
            width: 50%;
            margin: 2rem auto 4rem;
        }

        .about__content {
            p {
                margin: 1rem 0 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .about__container {

        .about__me {
            width: 65%;
            margin: 0 auto 3rem
        }

        .about__content {
            text-align: center;

            .about__cards {
                grid-template-columns: 1fr 1fr;
            }

            p {
                margin: 1.5rem 0
            }
        }
    }
}