@import '../../vars';

.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;

    .contact__options {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .contact__option {
            padding: 1.2rem;
            text-align: center;
            border: 1px solid $primary-c;
            box-shadow: $shadow;
            transition: $transition;
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: $primary-bg;
                opacity: 0;
                transition: $transition;
                z-index: -1;
            }

            &:hover {
                &::before {
                    opacity: 1;
                }
            }

            .contact__option-icon {
                color: $secundary-c;
                padding: .6rem;
                box-sizing: content-box;
                background: $bg-c;
                border-radius: 50%;
                font-size: 1.2rem;
            }

            a {
                margin-top: .7rem;
                display: inline-block;
                font-size: .8rem;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        input,
        textarea {
            width: 100%;
            padding: 1.5rem;
            background: transparent;
            border: 1px solid $primary-c;
            box-shadow: $shadow;
            resize: none;
            color: $light-c;
        }

        button {
            visibility: hidden;
            opacity: 0;
            height: 0px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media screen and (max-width: 769px) {
    .container.contact__container {
        width: $container-w-sm;
    }
}